
body {
    min-width: 700px;
    min-height: auto;
    background-color: #ffff99;
}

#top {
	position:relative;
    margin-left: 350px;
    margin-top: 50px;
}

#head {
	position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    width: 640px;
    height: 50px;
    background-color: #99ff33;
}

#container {
	position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: auto;
    background-color: white;
}

#items {
    margin-top: 0.2px;
    margin-left: 25px;
    margin-right: 15px;
    width: 600px;
    height: auto;
    font-size: 15px;
    font-family: sans-serif cursive;
    background-color: white;
}

#items a {
    float: right;
    color: black;
    text-decoration: none;
}

#items a:HOVER {
    background-color: #99ff33;
    color: white;
}

#bottom {

}